<?xml version="1.0"?>
<robot name="3dof_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="d1" value="1" />
    <xacro:property name="d2" value="1" />
    <xacro:property name="d3" value="0.3" />
    <xacro:property name="base_link_w" value="1" />
    <xacro:property name="base_link_h" value="1" />
    <xacro:property name="base_link_t" value="0.1" />
    <xacro:property name="link_1_h" value="0.475" />
    <xacro:property name="link_1_w" value="0.2" />
    <xacro:property name="link_2_h" value="0.2" />
    <xacro:property name="link_2_w" value="0.2" />
    <xacro:property name="link_3_s" value=".4" />

    <xacro:property name="ee_w" value="0.4" />
    <xacro:property name="ee_h" value="0.05" />
    <xacro:property name="ee_limit_lower" value="0" />
    <xacro:property name="ee_limit_upper" value=".5" />


    <link name="base_link">
        <visual>
            <geometry>
                <box size="${base_link_w} ${base_link_h} ${base_link_t}" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="${base_link_w} ${base_link_h} ${base_link_t}" />
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="0 0 0" />
            <mass value="100" />
            <inertia ixx="1e-3" ixy="0" ixz="0" iyy="1e-3" iyz="0" izz="1e-3" />
        </inertial>
    </link>

    <!-- <link name="link_1">
        <origin rpy="0 0 0" xyz="0 0 ${base_link_t + link_1_h/2}" />
        <visual>
            <geometry>
                <cylinder length="${link_1_h}" radius="${link_1_w}" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${link_1_h}" radius="${link_1_w}" />
            </geometry>
        </collision>
        <inertial>
            <mass value="10" />
            <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3" />
        </inertial>
    </link>

    <joint name="base_to_link_1" type="continuous">
        <parent link="base_link" />
        <child link="link_1" />
        <origin rpy="0 0 0" xyz="0 0 ${base_link_t + link_1_h/2}" />
        <axis xyz="0 0 1" />
    </joint> -->

    <!-- <link name="link_2">
        <visual>
            <geometry>
                <cylinder length="${link_2_h}" radius="${link_2_w}" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <cylinder length="${link_2_h}" radius="${link_2_w}" />
            </geometry>
        </collision>
        <inertial>
            <mass value="10" />
            <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3" />
        </inertial>
    </link>

    <joint name="link_1_to_link_2" type="revolute">
        <parent link="link_1" />
        <child link="link_2" />
        <origin rpy="${pi/2} 0 0" xyz="0 0 ${d2}" />
        <limit lower="${-pi/4}" upper="${pi}" effort="100" velocity="1.0" />
        <axis xyz="0 0 1" />
    </joint>

    <link name="link_3">
        <visual>
            <geometry>
                <box size="${link_3_s} ${link_3_s} ${link_3_s}" />
            </geometry>
        </visual>

        <collision>
            <geometry>
                <box size="${link_3_s} ${link_3_s} ${link_3_s}" />
            </geometry>
        </collision>
        <inertial>
            <mass value="10" />
            <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3" />
        </inertial>
    </link>

    <joint name="link_2_to_link_3" type="fixed">
        <parent link="link_2" />
        <child link="link_3" />
        <origin rpy="${pi/2} 0 ${pi/2}" xyz="1 0 0" />
    </joint>

    <link name="end_effector">
        <visual>
            <geometry>
                <box size="${ee_w} ${ee_w} ${ee_h}" />
            </geometry>
        </visual>
        <collision>
            <geometry>
                <box size="${ee_w} ${ee_w} ${ee_h}" />
            </geometry>
        </collision>
        <inertial>
            <mass value="10" />
            <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3" />
        </inertial>
    </link>

    <joint name="link_3_to_end_effector" type="prismatic">
        <parent link="link_3" />
        <child link="end_effector" />
        <origin rpy="0 0 0" xyz="0 0 ${d3}" />
        <axis xyz="0 0 1" />
        <limit lower="${ee_limit_lower}" upper="${ee_limit_upper}" effort="100" velocity="1.0" />
    </joint> -->

</robot>